.App {
  display:flex;
  flex-direction: column;
  flex:1;
  min-width:1366px;
  background: url("./images/bac.jpg") no-repeat center;
  background-size: cover;
}
.header{
  flex:1;
  display: flex;
  flex-direction: column;
  background: url("./images/topbac.jpg") no-repeat center;
  background-size: cover;
}
.icongroup{
  width:95%;
  height:38px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 38px;
}
.time{
  display: flex;
  background-color: #000000;
  with:348px !important;
  height: 38px;
  border-radius: 600px;
  justify-content: center;
  align-items: center;
  padding: 0px 18px;
}
.time p{
  color:#ffffff;
  margin-top: -4px;
  padding-left: 10px;
}


.logocons{
  width: 80%;
  align-self: center;
  margin-top: 80px;
}


.content{
  flex:2;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start ;
  align-items: center;
}
.mainNav{
  width:80%;
  height:314px;
  position:relative;
  margin-top: 47px;
}
.lia{
  position: absolute;
  left:0;
  top:0;
  width:33%;
  height:153px;
}
.lib{
  position: absolute;
  left:0;
  top:0;
  right:0;
  margin:auto;
  width:33%;
  height:153px;
}
.lic{
  position: absolute;
  top:0;
  right:0;
  width:33%;
  height:153px;
}
.lid{
  position: absolute;
  bottom:0;
  left:0;
  width:33%;
  height:153px;
}
.lie{
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
  width:33%;
  height:153px;
}
.lif{
  position: absolute;
  right:0;
  bottom:0;
  width:33%;
  height:153px;
}
.mainNav li{
  background-color: #191b1f;
}
.mainNav li .leftcon{
  position: absolute;
  left: 10%;
  bottom:16px ;
}
.mainNav li .leftcon img{
  width:auto;
  height:118px
}
.mainNav li .rightext{
  position: absolute;
  right:6%;
  bottom:44px ;
}
.mainNav li .rightext p{
  color:#ffffff;
  font-size: 24px;
  text-align: right;
}


.bacs{
  height:248px;
  width:80%;
  background:url("./images/bactou.png") no-repeat center top ;
  background-size: contain;
}
.botbox{
  position: absolute;
  bottom: 28px;
  left:28px;
  color:#ffffff
}














































